# Dependencies
node_modules/
venv/
.venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
dist/
build/
*.tar.gz
*.zip
*.7z
*.rar

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs — nunca commitear
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
mwt_logs.txt
logs_django.txt
out.txt
salida.txt

# Other
# nginx/
frontend_temp/
frontend.tar.gz
frontend.zip
